@use "../../styles/partials/colours" as *;
@use "../../styles/partials/typography" as *;

.projects {
    border: 1px solid $secondary-component-background;
    border-radius: 1rem;
    background-color: $secondary-component-background;
    width: 100%;
    height: 100%;
    margin-top: 1.5rem;
}