// $main-background: #5e6873; // main app background
$main-background: #7a8795; // main app background
$component-background: #242529; // 'floating' component background
$secondary-component-background: #36383e;   // lighter version of component background
$tertiary-component-background: #dcdcdc; // alternate component background
$primary-text: #fcebdc; // main text colour

// button colours
$primary-button: #F6D55C; // main button colour. Start/Stop/Add
$secondary-button: #0aa5f8;

// grid colours
$grid-line: #625b54;

// nav hover/selected
$dark-nav-hover: #ffffff33;
$light-nav-hover: #ffffff4d;

// modal background
$modal-background: rgba(0, 0, 0, 0.6); // black w/60% opacity

// nth child background colours
$nth-child: #173F5F;
$nth-child1: #20639B;
$nth-child2: #3CAEA3;
$nth-child3: #ED553B;
$nth-child-hover:rgb(255, 255, 255, 0.1);

// nth child background w/opacity
$dim-nth-child: rgb(23, 63, 95, 0.5);
$dim-nth-child1: rgb(32, 99, 155, 0.5);
$dim-nth-child2: rgb(60, 174, 163, 0.5);
$dim-nth-child3: rgb(237, 85, 59, 0.5);