// $main-background: #5e6873; // main app background
$main-background: #7a8795; // main app background
$component-background: #242529; // 'floating' component background
$secondary-component-background: #36383e;   // lighter version of component background
$tertiary-component-background: #dcdcdc; // alternate component background
$primary-text: #fcebdc; // main text colour

// button colours
$primary-button: #F6D55C; // main button colour. Start/Stop/Add
$secondary-button: #0aa5f8;

// grid colours
$grid-line: #625b54;

// nav hover/selected
$dark-nav-hover: #ffffff33;
$light-nav-hover: #ffffff4d;

// modal background
$modal-background: rgba(0, 0, 0, 0.7); // black w/70% opacity

// nth child background colours
$nth-child: #173F5F;
$nth-child1: #20639B;
$nth-child2: #3CAEA3;
$nth-child3: #ED553B;
$nth-child-hover:#ffffff1a;

// nth child background w/opacity
$dim-nth-child: #173f5f80;
$dim-nth-child1: #20639b80;
$dim-nth-child2: #3caea380;
$dim-nth-child3: #ed553b80;