// $main-background: #5e6873; // main app background
$main-background: #7a8795; // main app background
$component-background: #242529; // 'floating' component background
$secondary-component-background: #36383e;   // lighter version of component background
$tertiary-component-background: #dcdcdc; // alternate component background
$primary-text: #fcebdc; // main text colour

// button colours
$primary-button: #F6D55C; // main button colour. Start/Stop/Add
$secondary-button: #0aa5f8;

// grid colours
$grid-line: #625b54;

// nav hover/selected
$dark-nav-hover: #ffffff33;
$light-nav-hover: #ffffff4d;

// modal background
$modal-background: #00000099; // black w/40% opacity