@use "../../styles/partials/colours" as *;
@use "../../styles/partials/typography" as *;

.nav {
    border: 1px solid $component-background;
    background-color: $component-background;
    text-align: center;
    // width: 20rem;
    width: auto; //
    margin-right: 1.5rem;
    border-radius: 1rem;

    &__logo-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__link {
        text-decoration: none;
    }
    
    &__logo-icon {
        height: 2rem;
        width: 2rem;
        margin-right: 1rem;
    }

    &__logo {
        color: $primary-text;
        font-size: 2rem;
        text-decoration: none;
        border-left: 4px solid $primary-button;
        padding-left: 1rem;
    }

    &__profilePic {
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        object-fit: cover;
    }

    &__username {
        color: $primary-text;
        font-size: 1rem;
        margin-bottom: 2.5rem;
    }

    &__icon {
        color: $primary-text;
        height: 2rem;
        width: 2rem;
    }

    #dashboard.active {
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 1rem;
        display: flex;
        align-items: center;
        text-decoration: none;
        padding: 0.5rem;
    }

    #dashboard.inactive {
        border-radius: 1rem;
        display: flex;
        align-items: center;
        text-decoration: none;
        padding: 0.5rem;

        &:hover {
            background-color: rgba(255, 255, 255, 0.2);
            border-radius: 1rem;
            cursor: pointer;
        }
    }

    #goals.active {
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 1rem;
        display: flex;
        align-items: center;
        text-decoration: none;
        padding: 0.5rem;
    }

    #goals.inactive {
        border-radius: 1rem;
        display: flex;
        align-items: center;
        text-decoration: none;
        padding: 0.5rem;

        &:hover {
            background-color: rgba(255, 255, 255, 0.2);
            border-radius: 1rem;
            cursor: pointer;
        }
    }

    #timer.active {
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 1rem;
        display: flex;
        align-items: center;
        text-decoration: none;
        padding: 0.5rem;
    }

    #timer.inactive {
        border-radius: 1rem;
        display: flex;
        align-items: center;
        text-decoration: none;
        padding: 0.5rem;

        &:hover {
            background-color: rgba(255, 255, 255, 0.2);
            border-radius: 1rem;
            cursor: pointer;
        }
    }

    &__category-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 2rem 0 21.3rem 7rem;
    }

    &__category-subcontainer {
        display: flex;
        align-items: center;
        margin: 0.2rem;

        &:hover {
            background-color: rgba(255, 255, 255, 0.3);
            border-radius: 1rem;
            cursor: pointer;
        }
    }

    &__category {
        color: $primary-text;
        font-size: 1.2rem;
        padding-left: 0.5rem;
    }

    &__creator {
        color: $primary-text;
    }
}
