@use "../../styles/partials/colours" as *;
@use "../../styles/partials/typography" as *;

.nav {
    border: 1px solid $component-background;
    background-color: $component-background;
    text-align: center;
    width: auto; //
    margin-right: 1.5rem;
    border-radius: 1rem;

    &__logo-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__link {
        text-decoration: none;
    }
    
    &__logo-icon {
        height: 2rem;
        width: 2rem;
        margin-right: 1rem;
    }

    &__logo {
        color: $primary-text;
        font-size: 2rem;
        text-decoration: none;
        border-left: 4px solid $primary-button;
        padding-left: 1rem;
    }

    &__profilePic {
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        object-fit: cover;
    }

    &__username {
        color: $primary-text;
        font-size: 1rem;
        margin-bottom: 2.5rem;
    }

    &__icon {
        color: $primary-text;
        height: 2rem;
        width: 2rem;
    }

    #dashboard.active {
        background-color: $dark-nav-hover;
        border-radius: 1rem;
        display: flex;
        align-items: center;
        text-decoration: none;
        padding: 0.5rem;
    }

    #dashboard.inactive {
        border-radius: 1rem;
        display: flex;
        align-items: center;
        text-decoration: none;
        padding: 0.5rem;

        &:hover {
            background-color: $dark-nav-hover;
            border-radius: 1rem;
            cursor: pointer;
        }
    }

    #goals.active {
        background-color: $dark-nav-hover;
        border-radius: 1rem;
        display: flex;
        align-items: center;
        text-decoration: none;
        padding: 0.5rem;
    }

    #goals.inactive {
        border-radius: 1rem;
        display: flex;
        align-items: center;
        text-decoration: none;
        padding: 0.5rem;

        &:hover {
            background-color: $dark-nav-hover;
            border-radius: 1rem;
            cursor: pointer;
        }
    }

    #timer.active {
        background-color: $dark-nav-hover;
        border-radius: 1rem;
        display: flex;
        align-items: center;
        text-decoration: none;
        padding: 0.5rem;
    }

    #timer.inactive {
        border-radius: 1rem;
        display: flex;
        align-items: center;
        text-decoration: none;
        padding: 0.5rem;

        &:hover {
            background-color: $dark-nav-hover;
            border-radius: 1rem;
            cursor: pointer;
        }
    }

    &__category-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 2rem 0 18rem 7rem;
    }

    &__category-subcontainer {
        display: flex;
        align-items: center;
        margin: 0.2rem;

        &:hover {
            background-color: $light-nav-hover;
            border-radius: 1rem;
            cursor: pointer;
        }
    }

    &__category {
        color: $primary-text;
        font-size: 1.2rem;
        padding-left: 0.5rem;
    }

    &__category-footer-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__creator {
        color: $primary-text;
        margin: 0;
    }

    &__modal {
        color: $primary-button;
        margin: 1rem 0;

        &:hover {
            cursor: pointer;
            color: $secondary-button;
        }
    }
}

.modal {
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $modal-background;

    &__info-container {
        height: 22rem;
        width: 40rem;
        background-color: $secondary-component-background;
        color: $primary-text;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        box-shadow: 0.2rem 0.2rem rgba(85, 85, 85, 0.4);
    }

    &__title {
        margin-top: 0;
        margin-bottom: 1rem;
        font-size: 2.2rem;
    }

    &__text {
        margin-top: 0;
        margin-bottom: 1rem;
        font-size: 1.2rem;
    }

    &__links {
        text-decoration: none;
        padding: 0.5rem;
        color: $secondary-button;
        font-size: 1.2rem;

        &:visited {
            color: $secondary-button;
        }

        &:hover {
            background-color: $dark-nav-hover;
            border-radius: 1rem;
        }
    }

    &__button {
        border: 1px solid $primary-button;
        border-radius: 1rem;
        background-color: $primary-button;
        padding: 1rem;
        margin-top: 1rem;
        width: 8rem;
        color: $component-background;
        font-size: 1rem;

        &:hover {
            cursor: pointer;
            background-color: rgba(246, 224, 147, 0.95);
        }
    }
}
