@use "../../styles/partials/colours" as *;
@use "../../styles/partials/typography" as *;

.task-form {
    background-color: $component-background;
    border-radius: 0.25rem;
    width: 25rem;

    &__input {
        padding: 0.875rem 2rem 0.875rem 1rem;
        border-radius: 0.25rem 0 0 0.25rem;
        border: 1.5px solid $primary-button;
        outline: none;
        width: 20rem;
        background: transparent;
        color: $primary-text;
    }

    &__button {
        width: 5rem;
        padding: 1rem;
        margin-bottom: 2rem;
        border: none;
        border-radius: 0.25rem;
        cursor: pointer;
        outline: none;
        color: $component-background;
        background-color: $primary-button;

        &--update {
            background-color: $secondary-button;
            color: $primary-text;
            padding: 1rem 1.3rem;
        }
    }
}