@use "../src/styles/partials/colours" as *;
@use "../src/styles/partials/typography" as *;


.test {
    width: 30%;
}

.App {
    &__container {
        display: flex;
        justify-content: space-evenly;
        height: 100%;
    }

    &__nav-container {
        margin: auto;
    }

    &__page-container {
        margin: auto;
        // background-color: $component-background;
        // padding: 2rem;
    }
}