@use "../src/styles/partials/colours" as *;
@use "../src/styles/partials/typography" as *;

*, *::before, *::after {
	box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Titillium";
    background-color: $main-background;
}